*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px 50px;
  font-size: 18px;

}

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
  background-image:url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.lots {
  padding: 0px;
  margin: 180px 24px 0px 24px;
}

.about {
  margin: 120px 24px 0px 24px;
  display: grid;
  grid-template-columns: 334px auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 180px;
  padding: 2px 50px 0px 50px;
  font-size: 18px;
  font-weight: 400;
}