.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 22px;
  list-style: circle;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  margin-right: 5px;
}

.menu_link {
  margin-left: 6px;
}

.header__logo {
  width: 138px;
  height: 105px;
}

.header__logo-image {
  display: block;
  width: 100%;
}

.address {
  display: block;
}

.address__header {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
}

.overlay {
  inset: 0;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 2;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: #fff;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 30px;
  z-index: 3;
}

.aligned-text_left {
  align-self: flex-start;
  padding: 165px 0px 0px 50px;
}

.aligned-text_center {
  align-self: center;
  padding-left: 28px;
}

.aligned-text_right {
  align-self: flex-end;
  padding-right: 20px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 106px 50px 50px 50px;
  
}

.cover__description-text {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  word-spacing: 18px;
  text-transform: uppercase;
  margin-top: 12px;
}

.bet-button {
  position: relative;
  z-index: 3;
  width: 256px;
  height: 51px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px #fff;
}

.lots__heading {
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;

}

.lots__card-list-item {
  width: 334px;
  height: 596px;
  list-style: none;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card_type_film {
  background-image:url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image:url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image:url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 48px 40px 0px 40px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.card__text {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0px 40px 48px 40px;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.about__logo {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 240px; 
  height: 240px; 
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 63%;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  margin-top: 100px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  gap: 24px;
}

.about__column {
  align-self: ;
  justify-self: ;
}