.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 22px;
  list-style: circle;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;

}

.header__link_active {
  text-decoration: none;
}

.header__link {
  margin-right: 5px;
}

.menu_link {
  margin-left: 6px;
}

.header__logo {
  width: 138px;
  height: 105px;
}

.header__logo-image {
  display: block;
  width: 100%;
}

.address {
  display: block;
}

.address__header {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
}

.overlay {
  inset: 0;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 2;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: #fff;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 30px;
  z-index: 3;
}

.alignef-text_left {
  align-self: flex-start;
  padding: 165px 0px 0px 50px;
}

.alignef-text_center {
  align-self: center;
  padding-left: 28px;
}

.alignef-text_right {
  align-self: flex-end;
  padding-right: 20px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 106px 50px 50px 50px;
  
}

.cover__description-text {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  word-spacing: 18px;
  text-transform: uppercase;
  margin-top: 12px;
}

.bet-button {
  position: relative;
  z-index: 3;
  width: 256px;
  height: 51px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px #fff;
}




